---
import { getEntry } from "astro:content";
import Navbar from "../nav/Navbar.astro";
import ThemeSwitcher from "../theme-switcher/ThemeSwitcher.astro";

const headerContent = await getEntry("header", "header");
if (!headerContent) {
  throw new Error(
    'Could not find "src/content/components/header.md" for header component.',
  );
}
const author = headerContent.data.author;
---

<header>
  <div>
    <span>{author}</span>
    <ThemeSwitcher />
  </div>
  <Navbar />
</header>
